* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  height: 100px;
  align-items: center;
  padding: 0rem 2rem;
}

header ul li a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

header .logo {
  width: 100px;
}

.header-right-side ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.product-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  padding: 2rem;
}

.product-left-side img {
  width: 100%;
}

.product-right-side {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 1.5rem;
}
